/* Coolors Exported Palette - coolors.co/00a6fb-0582ca-006494-003554-051923 */

/* HSL */
$color1: hsla(200%, 100%, 49%, 1);
$color2: hsla(202%, 95%, 41%, 1);
$color3: hsla(199%, 100%, 29%, 1);
$color4: hsla(202%, 100%, 16%, 1);
$color5: hsla(200%, 75%, 8%, 1);

/* RGB */
$color1: rgba(0, 166, 251, 1);
$color2: rgba(5, 130, 202, 1);
$color3: rgba(0, 100, 148, 1);
$color4: rgba(0, 53, 84, 1);
$color5: rgba(5, 25, 35, 1);